---
# The Path stylesheet
---

$color-venice-blue: #0D5287;

@import 'utils/cooper-hewitt';
@import 'utils/karla';
@import 'components/subsection';

html,
body {
  height: 100%;
}

body {
  color: $color-venice-blue;
  font-family: 'Karla';
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

h1,
h2 {
  font-family: 'cooper-hewitt';
}

.content {
  margin: 0 auto;
  max-width: 1000px;
}

.post {
  font-size: 87.5%;
  margin: 0 auto;
  max-width: 420px;

  &__cover {
    height: 100vh;
  }

  &__heading {
    font-size: 20px;
    margin: 80px 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__quote {
    font-size: 25px;
    font-style: italic;
    line-height: 1.2;
    margin: 55px;
    position: relative;

    &::before {
      color: lighten($color-venice-blue, 60%);
      content: '“';
      font-size: 150px;
      left: -50px;
      position: absolute;
      top: -40px;
      z-index: -1;
    }
  }

  &__title {
    // sass-lint:disable no-vendor-prefixes
    -webkit-transform: translateY(-50%);
    // sass-lint:enable no-vendor-prefixes
    font-size: 100px;
    line-height: 0.8;
    margin: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (min-width: 768px) {
      font-size: 160px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 250px;
    }
  }
}

p + p {
  text-indent: 20px;
}

footer {
  background-color: $color-venice-blue;
  color: white(1);
  margin-top: 200px;
  text-align: center;
}
