@charset 'utf-8';

@mixin font($family, $style: normal, $weight: 400) {
  font-family: $family;
  font-style: $style;
  font-weight: $weight;

  // sass-lint:disable no-url-domains, no-url-protocols
  @if $family == 'basil-lite' {
    src: url('http://posters.wtf/fonts/King-Basil-Lite.otf');
  } @else {
    src: url('http://posters.wtf/fonts/Px-Grotesk-Regular.ttf');
  }
  // sass-lint:enable no-url-domains, no-url-protocols
}
