@charset 'utf-8';

@mixin font($family, $style: normal, $weight: 400) {
  font-family: $family;
  font-style: $style;
  font-weight: $weight;

  // sass-lint:disable no-url-domains, no-url-protocols
  @if $family == 'myriad-set-pro' {
    @if $weight == 600 {
      src: url('http://posters.wtf/fonts/myriad-set-pro/myriad-set-pro_bold.ttf');
    } @else {
      src: url('http://posters.wtf/fonts/myriad-set-pro/myriad-set-pro_text.ttf');
    }
  }
  // sass-lint:enable no-url-domains, no-url-protocols
}
