@charset 'utf-8';

@include test-module('The Grid Report :: mixins') {
  @include test-module('px-grotesk font') {
    @include test('Should output the appropriate font size giving params') {
      @include assert('@mixin font()') {
        @include output {
          @include font('px-grotesk', normal, 400);
        }

        @include expect {
          font-family: "px-grotesk"; // sass-lint:disable-line quotes
          font-style: normal;
          font-weight: 400;
          // sass-lint:disable no-url-domains, no-url-protocols
          src: url('http://posters.wtf/fonts/Px-Grotesk-Regular.ttf');
          // sass-lint:enable no-url-domains, no-url-protocols
        }
      }
    }

    @include test('Should output the appropriate font size with no params') {
      @include assert('@mixin font()') {
        @include output {
          @include font('px-grotesk');
        }

        @include expect {
          font-family: "px-grotesk"; // sass-lint:disable-line quotes
          font-style: normal;
          font-weight: 400;
          // sass-lint:disable no-url-domains, no-url-protocols
          src: url('http://posters.wtf/fonts/Px-Grotesk-Regular.ttf');
          // sass-lint:enable no-url-domains, no-url-protocols
        }
      }
    }
  }

  @include test-module('King Basil Lite font') {
    @include test('Should output the appropriate font size giving params') {
      @include assert('@mixin font()') {
        @include output {
          @include font('basil-lite');
        }

        @include expect {
          font-family: "basil-lite"; // sass-lint:disable-line quotes
          font-style: normal;
          font-weight: 400;
          // sass-lint:disable no-url-domains, no-url-protocols
          src: url('http://posters.wtf/fonts/King-Basil-Lite.otf');
          // sass-lint:enable no-url-domains, no-url-protocols
        }
      }
    }
  }

  @include test('Should output the appropriate font size giving params') {
    @include assert('@mixin font()') {
      @include output {
        @include font('basil-lite', normal, 400);
      }

      @include expect {
        font-family: "basil-lite"; // sass-lint:disable-line quotes
        font-style: normal;
        font-weight: 400;
        // sass-lint:disable no-url-domains, no-url-protocols
        src: url('http://posters.wtf/fonts/King-Basil-Lite.otf');
        // sass-lint:enable no-url-domains, no-url-protocols
      }
    }
  }
}
