@charset 'utf-8';

.language {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;

  &__link {
    text-decoration: none;

    &:not(:last-of-type) {
      margin-right: 5px;
    }
  }

  &--active {
    font-weight: bold;
  }
}
